:root {
    --blue: #2A4A79;
}
.header {
    width: 99vw;
    height: 80px;
    background-color: var(--blue);
}
.text {
    width: 99vw;
    height: calc(100vh - 250px);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 99vw;
    height: 100px;
    background-color: var(--blue);
}
#map {
    height: 100%;
    width: 25%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.email {
    color: black;
}
.address{
    height: 50%;
    width: 25%;
}